.App {
  text-align: center;
  overflow: hidden;
}

.app__header {
  display: flex;
  padding: 20px;
  -webkit-box-shadow: 0 8px 6px -6px e0e0e0;
  -moz-box-shadow: 0 8px 6px -6px e0e0e0;
  box-shadow: 0 8px 6px -6px #e0e0e0;
}

.app__title {
  margin-left: 20px;
}

.app__userProfile {
  background-color: #e9e9eb;
  display: flex;
  margin-left: auto;
  padding: 20px;
  border-radius: 3rem;
}

.app__userProfile img {
  border-radius: 50%;
  border: 5px solid #e9e9eb;
  margin-right: 10px;
}

.app__Messages {
  height: calc(100vh - 240px);
  overflow: auto;
}

.app__todayChip {
  margin: auto;
  margin-top: 2rem;
  background-color: #e9e9eb;
  padding: 4px 6px;
  border-radius: 20px;
  width: 100px;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  background-color: #e9e9eb;
  width: 100%;
  /* margin: 10px; */
}

.app__formControl {
  flex: 1;
  display: flex !important;
  flex-direction: row !important;
}
.app__input {
  flex: 0.98;
  background: white;
  border-radius: 10px;
  padding: 5px 30px;
  border-bottom: none;
  outline: none;
}

.app__input.MuiInput-underline:focus::before {
  border-bottom: none !important;
}

.app__input.MuiInput-underline::before {
  border-bottom: none;
}

.app__iconButton {
  cursor: pointer;
  flex: 0;
}

/* SCROLL BAR CSS */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c3c3c3;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  .app__userProfile {
    display: none;
  }
  .app__header {
    padding: 1rem;
  }
  .app__header img {
    width: 64px;
    height: 64px;
    padding-top: 1rem;
  }
  .app__title {
    font-size: 1.5rem;
    text-align: initial;
  }
}
